.header {
        width: 100%;
    }

.big-contacts-container {
    background-color: $color-dark-green;
    color: #fff;
    width: 100%;
    height: 55px;

    .contacts-container {
        @include flexBetweenNowrapCenter();
        height: 55px;

        margin-right: 20px;
        margin-left: 20px;

        .desctop {
            display: none;
        }

        .language a {
            text-decoration: none;
            color: #fff;
            position: relative;
            font-family: $primery-text-font;
            font-weight: 400;
            font-size: 12px;
            margin-right: 10px;

            &::after {
                content: "";
                display: block;
                position: absolute;
                width: 7px;
                height: 4px;

                background-image: url("img/little-arrow.png");
                background-repeat: no-repeat;
                background-position: center center;
                background-size: 7px 4px;
                top: 6px;
                right: -10px;
            }
        }

        .contacts {
            width: 120px;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    
        .email {
            @include backgrounImage25-25("img/email.png");
        }
    
        .phone {
            @include backgrounImage25-25("img/phone.png");
        }
    
        .location {
            @include backgrounImage25-25("img/location.png");
        }
    }
}

.main-header-container {
    @include flexBetweenNowrapCenter();
    height: 55px;
    margin-right: 20px;
    margin-left: 15px;

    .logo {
        height: 40px;
    }

    .callus-menu {

        display: flex;

        .call-button {
            border: none;
            cursor: pointer;

            width: 40px;
            height: 34px;
            background-color: #00730C;
            border-radius: 10px;
            @include backgroundImageCenter("img/phone-dialog.png");
        }

        .menu-button {
            border: none;
            cursor: pointer;

            width: 40px;
            height: 34px;
            margin-left: 40px;
            background-color: transparent;
            @include backgroundImageCenter("img/Menu_1_.png");
        }
    }
}

// ============ DESKTOP ============
// =================================

@media (min-width: 1900px) {
    .big-contacts-container {
       
        .contacts-container {
            width: 1400px;
            margin: 0 auto;

            .mobile {
                display: none;
            }
            .desctop {
                display: block;
                @include flexBetweenNowrapCenter();

                a {
                    color: #fff;
                    font-family: Poppins;
                    font-weight: 400;
                    text-decoration: none;
                    @include flexBetweenNowrapCenter();

                    .value {
                        padding-right: 30px;
                        padding-left: 10px;
                    }
                }
            }

            .contacts {
                width: 800px;
            }
        }
    }
    
}