.services {
    padding: 50px 15.5px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    h2 {
        @include primeryFont(28px, 700);
        color: $primery-header-color;
        margin-bottom: 15px;

        span {
            color: #00730C;
        }
    }

    > p {
        @include primeryFont(14px, 400);
        line-height: 22px;
        color: $primery-text-color;
        text-align: center;
        margin-bottom: 10px;
    }

    .service {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: nowrap;
        width: 345px;
        height: 116px;
        margin-top: 20px;
        padding: 20px;
        border-radius: 10px;
        background: linear-gradient(172.29deg, #FFFFFF -10.79%, #FFFFFF 94.04%);
        box-shadow: 2px 11px 30px rgba(51, 51, 51, 0.08);

        .image {
            margin-right: 20px;
            width: 50px;
            height: 50px;
        }

        .value {
            
            h4 {
                @include primeryFont(16px, 700);
                margin-bottom: 10px;
            }

            p {
                @include primeryFont(14px, 400);
                line-height: 22px;
                color: $primery-text-color;
                text-align: justify;
            }

        }
    }
}

.photo-services {
    padding-right: 15px;
    padding-left: 15px;
    margin-bottom: 200px;

    .pic-1 {
        width: 188px;
        height: 293px;
        background-color: #00730C;
        position: relative;

        .pic-2 {
            position: relative;
            top: 12px;
            left: 12px;
    
            > img {
                width: 291px;
                height: 358px;
            }

            .pic-3 {
                position: absolute;
                bottom: -88px;
                left: 91px;
    
                > img {
                    width: 241px;
                    height: 162px;
                    border: 9px solid #ffffff;
                    border-radius: 10px;
                }
            }
        }
    }
}

.experience {
    padding-right: 15px;
    padding-left: 15px;

    h2 {
        @include primeryFont(28px, 700);
        color: $primery-header-color;
        text-align: center;
        margin-bottom: 15px;

        span {
            color: #00730C;
        }
    }

    p {
        margin-bottom: 30px;
        @include primeryFont(14px, 400);
        line-height: 22px;
        color: $primery-text-color;
    }

    .skills {
        
    }
}