.promo-info {

    .slider {
        width: 100%;
        height: 240px;
        overflow: hidden;

        .image-slider {
        object-fit: contain;
        }
    }

    .container {
        height: 466px;
        background: linear-gradient(39.89deg, rgba(0, 115, 12, 0.81) -22.86%, rgba(251, 246, 238, 0) 116.18%);;

        .text-information {
            margin: 48px 15px 35px;
        }
    }
}
