.promo-info {
    .container-small {
        background: linear-gradient(39.89deg, rgba(0, 115, 12, 0.81) -22.86%, rgba(251, 246, 238, 0) 116.18%);
        height: 400px;
        padding: 48px 15px 35px;
        position: relative;

        .text-information {
            position: relative;
            margin-bottom: 40px;
     
            .header-1 {
                @include primeryFont(14px, 700);
                color: $primery-header-color;
                display: flex;
                justify-content: flex-start;
                align-items: center;
                margin-bottom: 10px;

                .image {
                    width: 24px;
                    height: 20px;
                    margin-right: 5px;

                    @include backgroundImageCenter("img/leaves.png");
                    background-size: 24px 20px;
                }
            }

            .header-2 {
                @include primeryFont(28px, 700);
                color: $primery-header-color;
                line-height: 38px;
                margin-bottom: 15px;

                span {
                    color: #00730C;
                }
            }

            > .text {
                @include primeryFont(14px, 400);
                line-height: 22px;
            }
        }

        .button-container {
            margin-bottom: 20.32px;

            button {
                width: 303px;
                height: 44px;
                background-color: #00730C;
                @include primeryFont(16px, 700);
                color: #FFFFFF;
                margin: 0 auto;
                display: block;
                border: none;
                border-radius: 5px;
            }
        }

        .link {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 41.32px;

            a {
                @include primeryFont(14px, 600);
                text-decoration: none;
                color: #00730C;
                margin-right: 12px;
            }

            .image {
                width: 16px;
                height: 12.65px;
                @include backgroundImageCenter("img/arrow-right.png")
            }
        }

        .benefits {
            display: flex;
            justify-content: flex-end;

            .ben {
                display: flex;
                justify-content: space-between;
                align-items: center;

                width: 133px;
                height: 32px;
                padding-right: 10px;
                padding-left: 10px;
                margin-left: 12px;

                background: linear-gradient(180deg, #FFF8F1 0%, #CBE5CE 100%);
                border-radius: 32px;

                .value {
                    @include primeryFont(12px, 700);
                    color: $primery-header-color;
                }

                .description {
                    @include primeryFont(10px, 400);
                    color: $primery-header-color;
                }
            }
        }

        .back-image {
            width: 83px;
            height: 130px;
            position: absolute;
            bottom: 15px;
            left: -10px;

            // @include backgroundImageCenter("img/flower.png");
            background-image: url("img/flower.png");
            background-repeat: no-repeat;
            background-position: center 5px;
        }

    }
    .slider {
        img {
            width: 100%;
        }
    }
}

//=============== DESKTOP ==============
//======================================

@media (min-width: 1900px) {
    .promo-info {
        position: relative;
        height: 719px;
        background: linear-gradient(39.89deg, rgba(0, 115, 12, 0.81) -22.86%, rgba(251, 246, 238, 0) 116.18%);
        .container {
            width: $width-big-container;
            margin: 0 auto;
            

            .slider {
                .image-slider {
                    position: absolute;
                    top: 46px;
                    right: 0;
                    width: 1013px;
                    height: 673px;            
                }
            }

            .container-small {
                background: none;
                width: 600px;
                position: static;

                .text-information {
                    margin-top: 87px;

                    .header-1 {
                        @include primeryFont(16px, 700);
                        line-height: 20px;
                    }

                    .header-2 {
                        @include primeryFont(58px, 800);
                        line-height: 79.11px;
                    }

                    > .text {
                        @include primeryFont(18px, 400);
                        color: $primery-text-color;
                        line-height: 30px;
                    }
                }
                .btns {
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    .button-container {
                        margin-right: 30px;
                        margin-bottom: 0;
                        button {
                            width: 175px;
                            height: 50px;
                            @include primeryFont(18px, 700);
                        }
                    }

                    .link {
                        margin: 0;
                        a {
                            @include primeryFont(18px, 600);
                            color: $primery-text-color;
                        }
                    }
                }
                .benefits {
                    display: none;
                }

                .benefits-desktop {
                    display: flex;
                    justify-content: flex-start;
                    margin-top: 56px;

                    .ben {
                        .value {
                            width: 50px;
                            height: 50px;
                            border-radius: 35px;
                            background: linear-gradient(72.71deg, #00730C -83.5%, #F9F9F9 93.84%);
                        }
                    }
                }

                .back-image {
                    width: 197px;
                    height: 278px;
                    position: absolute;
                    bottom: 60px;
                    left: 0;
    
                    background-image: url("img/man.png");
                    background-repeat: no-repeat;
                    background-position: center 5px;
                    background-size: 197px 278px;
                }
                
            }
        }

    }
}