@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700;800&display=swap");
.header {
  width: 100%;
}

.big-contacts-container {
  background-color: #0C4B35;
  color: #fff;
  width: 100%;
  height: 55px;
}

.contacts-container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  height: 55px;
  margin-right: 20px;
  margin-left: 20px;
}
.contacts-container .language a {
  text-decoration: none;
  color: #fff;
  position: relative;
  font-family: Nunito;
  font-weight: 400;
  font-size: 12px;
  margin-right: 10px;
}
.contacts-container .language a::after {
  content: "";
  display: block;
  position: absolute;
  width: 7px;
  height: 4px;
  background-image: url("img/little-arrow.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 7px 4px;
  top: 6px;
  right: -10px;
}
.contacts-container .contacts {
  width: 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.contacts-container .email {
  height: 25px;
  width: 25px;
  background-image: url("img/email.png");
  background-repeat: no-repeat;
  background-position: center center;
}
.contacts-container .phone {
  height: 25px;
  width: 25px;
  background-image: url("img/phone.png");
  background-repeat: no-repeat;
  background-position: center center;
}
.contacts-container .location {
  height: 25px;
  width: 25px;
  background-image: url("img/location.png");
  background-repeat: no-repeat;
  background-position: center center;
}

.main-header-container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  height: 55px;
  margin-right: 20px;
  margin-left: 15px;
}
.main-header-container .logo {
  height: 40px;
}
.main-header-container .callus-menu {
  display: flex;
}
.main-header-container .callus-menu .call-button {
  border: none;
  cursor: pointer;
  width: 40px;
  height: 34px;
  background-color: #00730C;
  border-radius: 10px;
  background-image: url("img/phone-dialog.png");
  background-repeat: no-repeat;
  background-position: center center;
}
.main-header-container .callus-menu .menu-button {
  border: none;
  cursor: pointer;
  width: 40px;
  height: 34px;
  margin-left: 40px;
  background-color: transparent;
  background-image: url("img/Menu_1_.png");
  background-repeat: no-repeat;
  background-position: center center;
}

.promo-info .slider {
  width: 100%;
  height: 240px;
  overflow: hidden;
}
.promo-info .slider .image-slider {
  -o-object-fit: contain;
     object-fit: contain;
}
.promo-info .container {
  height: 466px;
  padding: 48px 15px 35px;
  background: linear-gradient(39.89deg, rgba(0, 115, 12, 0.81) -22.86%, rgba(251, 246, 238, 0) 116.18%);
}
.promo-info .container .text-information {
  position: relative;
  margin-bottom: 40px;
}
.promo-info .container .text-information .header-1 {
  font-family: Nunito;
  font-weight: 700;
  font-size: 14px;
  color: #212529;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 10px;
}
.promo-info .container .text-information .header-1 .image {
  width: 24px;
  height: 20px;
  margin-right: 5px;
  background-image: url("img/leaves.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 24px 20px;
}
.promo-info .container .text-information .header-2 {
  font-family: Nunito;
  font-weight: 700;
  font-size: 28px;
  color: #212529;
  line-height: 38px;
  margin-bottom: 15px;
}
.promo-info .container .text-information .header-2 span {
  color: #00730C;
}
.promo-info .container .text-information > .text {
  font-family: Nunito;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
}
.promo-info .container .button-container button {
  width: 303px;
  height: 44px;
  background-color: #00730C;
  font-family: Nunito;
  font-weight: 700;
  font-size: 16px;
  color: #FFFFFF;
  margin: 0 auto;
  display: block;
  border: none;
  border-radius: 5px;
}

* {
  box-sizing: border-box;
}/*# sourceMappingURL=style.css.map */