@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700;800&family=Poppins&display=swap");
.header {
  width: 100%;
}

.big-contacts-container {
  background-color: #0C4B35;
  color: #fff;
  width: 100%;
  height: 55px;
}
.big-contacts-container .contacts-container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  height: 55px;
  margin-right: 20px;
  margin-left: 20px;
}
.big-contacts-container .contacts-container .desctop {
  display: none;
}
.big-contacts-container .contacts-container .language a {
  text-decoration: none;
  color: #fff;
  position: relative;
  font-family: Nunito;
  font-weight: 400;
  font-size: 12px;
  margin-right: 10px;
}
.big-contacts-container .contacts-container .language a::after {
  content: "";
  display: block;
  position: absolute;
  width: 7px;
  height: 4px;
  background-image: url("img/little-arrow.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 7px 4px;
  top: 6px;
  right: -10px;
}
.big-contacts-container .contacts-container .contacts {
  width: 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.big-contacts-container .contacts-container .email {
  height: 25px;
  width: 25px;
  background-image: url("img/email.png");
  background-repeat: no-repeat;
  background-position: center center;
}
.big-contacts-container .contacts-container .phone {
  height: 25px;
  width: 25px;
  background-image: url("img/phone.png");
  background-repeat: no-repeat;
  background-position: center center;
}
.big-contacts-container .contacts-container .location {
  height: 25px;
  width: 25px;
  background-image: url("img/location.png");
  background-repeat: no-repeat;
  background-position: center center;
}

.main-header-container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  height: 55px;
  margin-right: 20px;
  margin-left: 15px;
}
.main-header-container .logo {
  height: 40px;
}
.main-header-container .callus-menu {
  display: flex;
}
.main-header-container .callus-menu .call-button {
  border: none;
  cursor: pointer;
  width: 40px;
  height: 34px;
  background-color: #00730C;
  border-radius: 10px;
  background-image: url("img/phone-dialog.png");
  background-repeat: no-repeat;
  background-position: center center;
}
.main-header-container .callus-menu .menu-button {
  border: none;
  cursor: pointer;
  width: 40px;
  height: 34px;
  margin-left: 40px;
  background-color: transparent;
  background-image: url("img/Menu_1_.png");
  background-repeat: no-repeat;
  background-position: center center;
}

@media (min-width: 1900px) {
  .big-contacts-container .contacts-container {
    width: 1400px;
    margin: 0 auto;
  }
  .big-contacts-container .contacts-container .mobile {
    display: none;
  }
  .big-contacts-container .contacts-container .desctop {
    display: block;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
  }
  .big-contacts-container .contacts-container .desctop a {
    color: #fff;
    font-family: Poppins;
    font-weight: 400;
    text-decoration: none;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
  }
  .big-contacts-container .contacts-container .desctop a .value {
    padding-right: 30px;
    padding-left: 10px;
  }
  .big-contacts-container .contacts-container .contacts {
    width: 800px;
  }
}
* {
  box-sizing: border-box;
}/*# sourceMappingURL=style.css.map */