@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700;800&family=Poppins&display=swap");
.header {
  width: 100%;
}

.big-contacts-container {
  background-color: #0C4B35;
  color: #fff;
  width: 100%;
  height: 55px;
}
.big-contacts-container .contacts-container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  height: 55px;
  margin-right: 20px;
  margin-left: 20px;
}
.big-contacts-container .contacts-container .desctop {
  display: none;
}
.big-contacts-container .contacts-container .language a {
  text-decoration: none;
  color: #fff;
  position: relative;
  font-family: Nunito;
  font-weight: 400;
  font-size: 12px;
  margin-right: 10px;
}
.big-contacts-container .contacts-container .language a::after {
  content: "";
  display: block;
  position: absolute;
  width: 7px;
  height: 4px;
  background-image: url("img/little-arrow.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 7px 4px;
  top: 6px;
  right: -10px;
}
.big-contacts-container .contacts-container .contacts {
  width: 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.big-contacts-container .contacts-container .email {
  height: 25px;
  width: 25px;
  background-image: url("img/email.png");
  background-repeat: no-repeat;
  background-position: center center;
}
.big-contacts-container .contacts-container .phone {
  height: 25px;
  width: 25px;
  background-image: url("img/phone.png");
  background-repeat: no-repeat;
  background-position: center center;
}
.big-contacts-container .contacts-container .location {
  height: 25px;
  width: 25px;
  background-image: url("img/location.png");
  background-repeat: no-repeat;
  background-position: center center;
}

.main-header-container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  height: 55px;
  margin-right: 20px;
  margin-left: 15px;
}
.main-header-container .logo {
  height: 40px;
}
.main-header-container .callus-menu {
  display: flex;
  align-items: center;
}
.main-header-container .callus-menu .main-menu {
  display: none;
}
.main-header-container .callus-menu .call-button {
  border: none;
  cursor: pointer;
  width: 40px;
  height: 34px;
  background-color: #00730C;
  border-radius: 10px;
  background-image: url("img/phone-dialog.png");
  background-repeat: no-repeat;
  background-position: center center;
}
.main-header-container .callus-menu .call-button span {
  display: none;
}
.main-header-container .callus-menu .menu-button {
  border: none;
  cursor: pointer;
  width: 40px;
  height: 34px;
  margin-left: 40px;
  background-color: transparent;
  background-image: url("img/Menu_1_.png");
  background-repeat: no-repeat;
  background-position: center center;
}

@media (min-width: 1900px) {
  .big-contacts-container {
    height: 59px;
  }
  .big-contacts-container .contacts-container {
    width: 1400px;
    margin: 0 auto;
  }
  .big-contacts-container .contacts-container .mobile {
    display: none;
  }
  .big-contacts-container .contacts-container .desctop {
    display: block;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
  }
  .big-contacts-container .contacts-container .desctop a {
    color: #fff;
    font-family: Poppins;
    font-weight: 400;
    text-decoration: none;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
  }
  .big-contacts-container .contacts-container .desctop a .value {
    padding-right: 30px;
    padding-left: 10px;
  }
  .big-contacts-container .contacts-container .contacts {
    width: 800px;
  }
  .main-header-container {
    width: 1400px;
    height: 85px;
    margin: 0 auto;
  }
  .main-header-container .callus-menu {
    flex-direction: row-reverse;
  }
  .main-header-container .callus-menu .menu-button {
    display: none;
  }
  .main-header-container .callus-menu .call-button {
    width: 170px;
    height: 50px;
    border-radius: 5px;
    font-family: Nunito;
    font-weight: 700;
    font-size: 18px;
    color: #fff;
    background-position: 34px center;
  }
  .main-header-container .callus-menu .call-button span {
    display: block;
    padding-left: 10px;
  }
  .main-header-container .callus-menu .menu nav .main-menu {
    display: flex;
    padding-right: 100px;
  }
  .main-header-container .callus-menu .menu nav .main-menu li {
    padding-right: 44px;
  }
  .main-header-container .callus-menu .menu nav .main-menu a {
    display: block;
    color: #212529;
    font-family: Nunito;
    font-weight: 700;
    font-size: 16px;
    text-decoration: none;
    position: relative;
  }
  .main-header-container .callus-menu .menu nav .main-menu a.multi-menu::after {
    content: "";
    display: block;
    position: absolute;
    width: 12px;
    height: 7px;
    background-image: url("img/down-arrow-black.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 12px 7px;
    top: 6px;
    right: -17px;
  }
  .main-header-container .callus-menu .menu nav .main-menu a:hover {
    color: #00730C;
  }
}
.promo-info .container-small {
  background: linear-gradient(39.89deg, rgba(0, 115, 12, 0.81) -22.86%, rgba(251, 246, 238, 0) 116.18%);
  height: 400px;
  padding: 48px 15px 35px;
  position: relative;
}
.promo-info .container-small .text-information {
  position: relative;
  margin-bottom: 40px;
}
.promo-info .container-small .text-information .header-1 {
  font-family: Nunito;
  font-weight: 700;
  font-size: 14px;
  color: #212529;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 10px;
}
.promo-info .container-small .text-information .header-1 .image {
  width: 24px;
  height: 20px;
  margin-right: 5px;
  background-image: url("img/leaves.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 24px 20px;
}
.promo-info .container-small .text-information .header-2 {
  font-family: Nunito;
  font-weight: 700;
  font-size: 28px;
  color: #212529;
  line-height: 38px;
  margin-bottom: 15px;
}
.promo-info .container-small .text-information .header-2 span {
  color: #00730C;
}
.promo-info .container-small .text-information > .text {
  font-family: Nunito;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
}
.promo-info .container-small .button-container {
  margin-bottom: 20.32px;
}
.promo-info .container-small .button-container button {
  width: 303px;
  height: 44px;
  background-color: #00730C;
  font-family: Nunito;
  font-weight: 700;
  font-size: 16px;
  color: #FFFFFF;
  margin: 0 auto;
  display: block;
  border: none;
  border-radius: 5px;
}
.promo-info .container-small .link {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 41.32px;
}
.promo-info .container-small .link a {
  font-family: Nunito;
  font-weight: 600;
  font-size: 14px;
  text-decoration: none;
  color: #00730C;
  margin-right: 12px;
}
.promo-info .container-small .link .image {
  width: 16px;
  height: 12.65px;
  background-image: url("img/arrow-right.png");
  background-repeat: no-repeat;
  background-position: center center;
}
.promo-info .container-small .benefits {
  display: flex;
  justify-content: flex-end;
}
.promo-info .container-small .benefits .ben {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 133px;
  height: 32px;
  padding-right: 10px;
  padding-left: 10px;
  margin-left: 12px;
  background: linear-gradient(180deg, #FFF8F1 0%, #CBE5CE 100%);
  border-radius: 32px;
}
.promo-info .container-small .benefits .ben .value {
  font-family: Nunito;
  font-weight: 700;
  font-size: 12px;
  color: #212529;
}
.promo-info .container-small .benefits .ben .description {
  font-family: Nunito;
  font-weight: 400;
  font-size: 10px;
  color: #212529;
}
.promo-info .container-small .back-image {
  width: 83px;
  height: 130px;
  position: absolute;
  bottom: 15px;
  left: -10px;
  background-image: url("img/flower.png");
  background-repeat: no-repeat;
  background-position: center 5px;
}
.promo-info .slider img {
  width: 100%;
}
@media (min-width: 1900px) {
  .promo-info {
    height: 719px;
    background: linear-gradient(39.89deg, rgba(0, 115, 12, 0.81) -22.86%, rgba(251, 246, 238, 0) 116.18%);
  }
  .promo-info .container {
    width: 1400px;
    margin: 0 auto;
    background: none;
  }
  .promo-info .slider .image-slider {
    width: 1013px;
    height: 873px;
  }
}
* {
  box-sizing: border-box;
}/*# sourceMappingURL=style.css.map */